<h2>
    Students data</h2>

<div>
    <h1>Stuudents Record</h1>
    <h2>Student Data Table</h2>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>java marks</th>
            <th>maths marks</th>
            <th>science marks</th>
            <th>avg</th>

        </tr>

        <tr *ngFor="let i of sarr ">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.javamarks}}</td>
            <td>{{i.mathsmarks}}</td>
            <td>{{i.sciencemarks}}</td>
            <td>{{i.sciencemarks/3 + i.mathsmarks/3 + i.javamarks/3 }}</td>





        </tr>


    </table>

</div>
